<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Crypto-Follower</title>
</head>
<body>
    <!-- Header -->
    <header id="showcase">
        <section id="navbar">
            <img class="imgs" src="..\images\'icon'.png" alt="App icon">
            <h1>Crypto-Follower</h1>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </section>
        <section class="flex"> 
            <ul id="three_best_and_worst">
                <li>NinjaFloki</li>
                <li>FirstDog</li>
                <li>Primecoin</li>
            </ul>
            <div id="switch">
                <i id="price_up" class="fa fa-hand-o-up" aria-hidden="true"></i>
                <i id="price_down" class="fa fa-hand-o-down" aria-hidden="true"></i>
            </div>
        </section>
    </header>
    <main id="details_box">

    </main>
</body>
</html>