<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Crypto-Follower</title>
</head>
<body>
    <!-- Header -->
    <header id="showcase">
        <section id="navbar">
            <a href="/templates/index.html"><img class="imgs" src="..\images\logo.png" alt="A"></a>
            <h1>Crypto-Follower</h1>
            <div class="in-out">
                <i class="fas fa-sign-in-alt" onclick="openModul()"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </section>
        <section class="flex"> 
            <div class="play-pause">
                <i class="fa fa-pause-circle" aria-hidden="true" onclick="play()"></i>
            </div>
            <div class="moving-currencies">
                <a href="/bitcoin" class="currency">
                    <span class="name">Bitcoin</span>
                    <span class="price-wrapper">
                        <span class="price">$36,271.50</span>
                        <span class="change">-4.19%</span>
                    </span>
                </a>
                <a href="/ethereum" class="currency">
                    <span class="name">Ethereum</span>
                    <span class="price-wrapper">
                        <span class="price">$2,411.41</span>
                        <span class="change">-9.12%</span>
                    </span>
                </a>
                <a href="/ethereum" class="currency">
                    <span class="name">Ethereum</span>
                    <span class="price-wrapper">
                        <span class="price">$2,411.41</span>
                        <span class="change">-9.12%</span>
                    </span>
                </a>
            </div>
        </section>
    </header>

    <!-- Main Area -->
    <main>
        <div class="search_box">
            <div class="btn btn_common">
                <i id="search" class="fas fa-search"></i>
            </div>
            <input type="text" class="input" placeholder="Search...">
        </div>
        <ul id="options">
            <div>
                <input type="checkbox" class="toggle" id="rounded">
                <label for="rounded" class="rounded" data-checked="Following" data-unchecked="Ranking"></label>
            </div>
        </ul>
        <div class="box">
            <ul id="table">
                <li>
                    <span class="number">1</span>
                    <span class="name">Bitcoin</span>
                    <span class="price">$42,000.00</span>
                    <span class="last_24hours">0.97%</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </li>
                <li>
                    <span class="number">2</span>
                    <span class="name">Ethereum</span>
                    <span class="price">$3,344.00</span>
                    <span class="last_24hours">0.01%</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </li>
                <li>
                    <span class="number">3</span>
                    <span class="name">BNB</span>
                    <span class="price">$499.00</span>
                    <span class="last_24hours">0.05%</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </li>
                <li>
                    <span class="number">4</span>
                    <span class="name">Tether</span>
                    <span class="price">$1.00</span>
                    <span class="last_24hours">0.00%</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </li>
                <li>
                    <span class="number">5</span>
                    <span class="name">Cardano</span>
                    <span class="price">$1.40</span>
                    <span class="last_24hours">9.18%</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
        <div class="border"></div>
        <div class="modul">
            <div id="form">
                <img src="../images/close.png" alt="close button" id="close" onclick="closeModul()">
                <div class="btn-box">
                    <div id="btn"></div>
                    <button type="button" class="btn-toggle" onclick="login()">Log In</button>
                    <button type="button" class="btn-toggle" onclick="register()">Register</button>
                </div>
                <form action="#" id="login" class="input-group">
                    <input type="email" class="input-field e-mail" placeholder="E-mail" required>
                    <input type="password" class="input-field password" placeholder="Enter Password" required>
                    <input type="checkbox" class="check-box"><span id="rem-pas">Remember Password</span>
                    <button type="submit" class="btn-submit">Log In</button>
                </form>
                <form action="#" id="register" class="input-group">
                    <input type="email" class="input-field e-mail" placeholder="E-mail" required>
                    <input type="password" class="input-field password" placeholder="Enter Password" required>
                    <input type="password" class="input-field password" placeholder="Repeat Password" required>
                    <input type="checkbox" class="check-box"><span id="terms">I agree to the terms & conditions</span>
                    <button type="submit" class="btn-submit">Register</button>
                </form>
            </div>
            <div class="blur"></div>    
        </div>
    </main>
    
    <script>
        let log = document.getElementById("login");
        let reg = document.getElementById("register");
        let btn = document.getElementById("btn");

        function register() {
            log.style.left = "-400px";
            reg.style.left = "50px";
            btn.style.left = "110px";
        }
        function login() {
            log.style.left = "50px";
            reg.style.left = "450px";
            btn.style.left = "0";
        }

        function openModul() {
            let popup = document.querySelector("#form");
            let blur = document.querySelector(".blur");
            popup.classList.toggle("active");
            blur.classList.toggle("active");
        }
        function closeModul() {
            let popup = document.querySelector("#form");
            let blur = document.querySelector(".blur");
            popup.classList.remove("active");
            blur.classList.remove("active");
        }
        function play() {
            let play = document.querySelector(".play-pause");
            play.innerHTML = '<i class="fa fa-play-circle" aria-hidden="true" onclick="pause()"></i>';
        }
        function pause() {
            let pause = document.querySelector(".play-pause");
            pause.innerHTML = '<i class="fa fa-pause-circle" aria-hidden="true" onclick="play()"></i>';
        }
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>
</html>