<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Crypto-Follower</title>
</head>
<body>
    <!-- Header -->
    <header id="showcase">
        <section id="navbar">
            <a href="/">
                <img src="{{url_for('static', filename='logo.png')}}" alt="Logo" style="width: 45px; height: 60px; cursor: pointer;">
            </a>
            <h1>Crypto-Follower</h1>
            <h3 style="position: absolute; right: 5%;">{{ user.username }}</h3>
            <div class="in-out">
                <!-- <i class="fas fa-sign-in-alt" onclick="location.href = '/login'" style="cursor: pointer;"></i> -->
                <i class="fas fa-sign-out-alt" onclick="window.location='/logout'" style="cursor: pointer;"></i>
            </div>
        </section>
        <section class="flex"> 
            <div class="play-pause">
                <i class="fa fa-play-circle" aria-hidden="true" onclick="pause()"></i>
            </div>
            <div class="pseudo_slider">
                <div class="moving-currencies animation paused">
                    {% for currency in slider %}
                        <a href="/details/{{ currency.name.lower() }}" class="currency">
                            <span class="name">{{ currency.name }}</span>
                            <span class="price-wrapper {{ currency.color }}">
                                <span class="price">{{ currency.price }}</span>
                                <span class="change">{{ currency.change }}</span>
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </header>

    <!-- Main Area -->
    <main>
        {% block body %}{% endblock %}
    </main>
    
    <script>
        function play() {
            let play = document.querySelector(".play-pause");
            play.innerHTML = '<i class="fa fa-play-circle" aria-hidden="true" onclick="pause()"></i>';
            document.querySelector('.animation').classList.add('paused')
        }
        function pause() {
            let pause = document.querySelector(".play-pause");
            pause.innerHTML = '<i class="fa fa-pause-circle" aria-hidden="true" onclick="play()"></i>';
            document.querySelector('.animation').classList.remove('paused')
        }
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>
</html>