<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Crypto-Follower</title>
</head>
<body>
    <!-- Header -->
    <header id="showcase">
        <section id="navbar">
            <a href="/">
                <img src="{{url_for('static', filename='logo.png')}}" alt="Logo" style="width: 45px; height: 60px; cursor: pointer;">
            </a>
            <h1>Crypto-Follower</h1>
            <div class="in-out">
                <i class="fas fa-sign-in-alt" onclick="openModul()" style="cursor: pointer;"></i>
                <i class="fas fa-sign-out-alt" style="cursor: pointer;"></i>
            </div>
        </section>
        <section class="flex"> 
            <div class="play-pause">
                <i class="fa fa-pause-circle" aria-hidden="true" onclick="play()"></i>
            </div>
            <div class="moving-currencies">
                {% for currency in slider %}
                    <a href="/details/{{ currency.name.lower() }}" class="currency">
                        <span class="name">{{ currency.name }}</span>
                        <span class="price-wrapper {{ currency.color }}">
                            <span class="price">{{ currency.price }}</span>
                            <span class="change">{{ currency.change }}</span>
                        </span>
                    </a>
                {% endfor %}
            </div>
        </section>
    </header>

    
    <!-- Main Area -->
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %} 
                {% if category == 'error' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
        {% endwith %}

        <!-- Empty for now -->
        {% block body %}{% endblock %}

        <div class="modul">
            <div id="form">
                <img src="{{url_for('static', filename='close.png')}}" alt="Logo" onclick="closeModul()" alt="close button" id="close">
                <div class="btn-box">
                    <div id="btn"></div>
                    <button type="button" class="btn-toggle" onclick="login()">Log In</button>
                    <button type="button" class="btn-toggle" onclick="register()">Register</button>
                </div>
                <form method="POST" id="login" class="input-group">
                    <input name="email" type="email" class="input-field e-mail" placeholder="E-mail" required>
                    <input name="password" type="password" class="input-field password" placeholder="Enter Password" required>
                    <input name="remember_me" type="checkbox" class="check-box"><span id="rem-pas">Remember Password</span>
                    <button type="submit" class="btn-submit">Log In</button>
                    <input name="request" style="visibility: hidden; position: absolute;" type="text" value="Login">
                </form>
                <form method="POST" id="register" class="input-group">
                    <input name="email" type="email" class="input-field e-mail" placeholder="E-mail" required>
                    <input name="username" type="text" class="input-field e-mail" placeholder="Username" required>
                    <input name="password" type="password" class="input-field password" placeholder="Enter Password" required>
                    <input name="re-password" type="password" class="input-field password" placeholder="Repeat Password" required>
                    <br>
                    <br>
                    <br>
                    <button type="submit" class="btn-submit">Register</button>
                    <input name="request" style="visibility: hidden;" type="text" value="Register">
                </form>
            </div>
            <div class="blur"></div>    
        </div>
    </main>
    
    <script>
        let log = document.getElementById("login");
        let reg = document.getElementById("register");
        let btn = document.getElementById("btn");

        function register() {
            log.style.left = "-400px";
            reg.style.left = "50px";
            btn.style.left = "110px";
        }
        function login() {
            log.style.left = "50px";
            reg.style.left = "450px";
            btn.style.left = "0";
        }

        function openModul() {
            let popup = document.querySelector("#form");
            let blur = document.querySelector(".blur");
            popup.classList.toggle("active");
            blur.classList.toggle("active");
        }
        function closeModul() {
            let popup = document.querySelector("#form");
            let blur = document.querySelector(".blur");
            popup.classList.remove("active");
            blur.classList.remove("active");
        }
        function play() {
            let play = document.querySelector(".play-pause");
            play.innerHTML = '<i class="fa fa-play-circle" aria-hidden="true" onclick="pause()"></i>';
        }
        function pause() {
            let pause = document.querySelector(".play-pause");
            pause.innerHTML = '<i class="fa fa-pause-circle" aria-hidden="true" onclick="play()"></i>';
        }
        function follow(el) {
            if (el.classList.contains("followed")) {
                el.classList.remove("followed");
            } else {
                el.classList.add("followed");
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>
</html>